


    


html, body {
    padding: 0;
    background-color: #C1C8E4;
    height: 100%;
}



div.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

div.calculator {
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    background-color: #656c7d;
    width: 400px;
    height: 480px;
    display: flex;
}

.small {
    padding: 20px;
}

.big {
    
    padding-top: 20px;
    padding-bottom: 20px;
    flex-basis: 50%;
    text-align: center;
}
.big, .small {
    font-size: 20px;
}
.middle-grid{ 
    display: flex;
    width: 100%;
    margin-bottom: 4px;
   
}
.middle-grid, .bottom-grid {
    gap: 6px;
}
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}



.screen {
    padding-top: 20px;
    padding-bottom: 12px;
    padding-right: 15px;
    text-align: right;
    background-color: #d6d6d6;
    margin-bottom: 10px;
    

}

.upper-text {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    min-height: 21px;
}
.lower-text {
    font-size: 48px;
    margin: 0px;
    min-height: 55px;
    
}



.grid-container {
    width: 100%;
}

button, .screen {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
